<% if @article.errors.any? %>
<ul>
<% @article.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<p>
Title:  <%= @article.title %><br>
</p>
<p>
Post:  <%= @article.body %>
</p>
